.git
.github
.idea
vendor
yii2/vendor
yii2/.env
yii2/.env.prod
yii2/.env.prod.local
var/ci-logs
uploads/*
!uploads/.gitkeep
yii2/frontend/runtime/*
!yii2/frontend/runtime/.gitignore
yii2/backend/runtime/*
!yii2/backend/runtime/.gitignore
yii2/console/runtime/*
!yii2/console/runtime/.gitignore
yii2/frontend/web/assets/*
!yii2/frontend/web/assets/.gitignore
yii2/backend/web/assets/*
!yii2/backend/web/assets/.gitignore
yii2/frontend/web/index.php
yii2/frontend/web/index-test.php
yii2/frontend/web/robots.txt
yii2/frontend/web/.htaccess
yii2/backend/web/index.php
yii2/backend/web/index-test.php
yii2/backend/web/robots.txt
yii2/backend/web/.htaccess
yii2/frontend/config/*-local.php
yii2/backend/config/*-local.php
yii2/common/config/*-local.php
yii2/console/config/*-local.php
yii2/yii
yii2/yii_test
yii2/reset
composer.phar
phpunit.phar
Thumbs.db
.DS_Store
