.block__audit {
    padding: 24px 0 48px;
}

.b_audit--head {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.b_audit--card {
    border: 1px solid #d7dde5;
    border-radius: 8px;
    margin-bottom: 14px;
    padding: 16px;
}
